[user]
	name = Ruffpuff1
	email = 73779441+Ruffpuff1@users.noreply.github.com



# Other possible Git configurations.
# - Set the default editor (nano, VS Code, etc.)
# - Customize color output
# - Create aliases (shortcuts for Git subcommands)
# - Add endpoint shortcuts for commonly used URLs
